body {
    margin: 0;
    font-family: "roboto";
}

.header-container {
    background-color: #1F2937;
    display: flex;
    padding-top: 1.5rem;
}
.header-logo {
    font-size: 1.5em;
    color: #E5E7EB;
    margin-left: 25vw;
   
}
.links {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 25rem;
    list-style: none;
    margin-left:auto;
    margin-right: 25vw;
    color: #E5E7EB;
} .links li {
    font-size: 1.1rem;
}

.main-section {
    display: flex;
    background-color: #1F2937;
    width:100vw;
    padding-bottom: 10vh;
}
.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
    padding-top: 4rem;
    margin-left: 25vw;

}
.main-text {
    font-size: 3rem;
    width:25rem;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: 15vw;
    margin-right: 5vw;
}

.content div:nth-of-type(2) {
    width:25rem;
    color:#E5E7EB;
}

.signup {
    margin-top:0.5rem;
    width: 5.1rem;
    height: 1.5rem;
    border-radius: 5px;
    border: none;
    background-color:#3882F6;
    color: #F9FAF8;
    text-align: center;
}

.img-placeholder {
    display: flex;
    background-color: #6d747d;
    height: 25;
    margin-top: 4.5rem;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 55vw;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}
.info h2 {
    align-self: center;
    font-weight:bolder;
    font-size: 2.3em;
}
.info {
    display: flex;
    flex-direction: column;
    height: 42vh;

}
.img, .img-caption {
    display: flex;
    justify-content:space-between;
    margin-left: 30vw;
    margin-right: 30vw;
}
.img div {
    border-radius: 5%;
    width: 8vw;
    height: 15vh;
    border: 2px solid blue;
}
.img-caption {
    display: flex;
    list-style: none;
    padding: 0;
}

.img-caption li {
    font-size: 0.9em;
    text-align: center;
    color: #616364;
    
}

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height:35vh;
    justify-content: center;
    align-items: center;
}
.quote {
    width:50vw;
    font-size: 2.3em;
    font-weight: 300;
    font-style: italic;
    color: #646e7e;
}
.subject {
    margin-top:0;
    margin-left: 30vw;
    width: auto;
    font-size: 1.5em;
    font-weight:500;
    color: #404650;
}